  {% extends "index.html" %}
  {% block title %} <title>E-shop</title>{% endblock %}

  {% block content %}
  <div class="about-section">
    <h1>About Us Page</h1>
  </div>

  <div class="row">
    <div class="columnn">
      <div class="card">
        <div class="container">
          <h2>Jméno Příjmení</h2>
          <p>lorem ipsum lorem ipsum lorem ipsum ipsum lorem.</p>
          <p>jmeno@example.com</p>
        </div>
      </div>
    </div>

    <div class="columnn">
      <div class="card">
        <div class="container">
          <h2>Jméno Příjmení</h2>
          <p>lorem ipsum lorem ipsum lorem ipsum ipsum lorem.</p>
          <p>jmeno@example.com</p>
        </div>
      </div>
    </div>

    <div class="columnn">
      <div class="card">
        <div class="container">
          <h2>Jméno Příjmení</h2>
          <p>lorem ipsum lorem ipsum lorem ipsum ipsum lorem.</p>
          <p>jmeno@example.com</p>
        </div>
      </div>
    </div>
  </div>

  <div class="columnn">
      <div class="card">
        <div class="container">
          <h2>Jméno Příjmení</h2>
          <p>lorem ipsum lorem ipsum lorem ipsum ipsum lorem.</p>
          <p>jmeno@example.com</p>
        </div>
      </div>
    </div>
  </div>

  </div>
  {% endblock %}
