{% extends "index.html" %}
{% block title %} <title>Kontakty</title>{% endblock %}

{% block content %}

<div class="nadpis">
  <h2>KONTAKTY</h2>
</div>

<div class="row">
  <div class="column" style="background-color:#666666;">
    <h2>Telefoní číslo</h2>
    <p>+420 ??? ??? ???</p>
  </div>
  <div class="column" style="background-color:antiquewhite;">
    <h2>E-mail</h2>
    <p>idk123@seznam.cz</p>
  </div>
</div>

<div class="row">
  <div class="column" style="background-color:#666666;">
    <h2>Adresa</h2>
    <p>Dánská 5463, Plzeň</p>
  </div>
  <div class="column" style="background-color:antiquewhite;">
    <h2>Instagram</h2>
    <p>lovci_pokladu.</p>
  </div>
</div>

{% endblock %}
