{% extends "index.html" %}
{% block title %}<title>E-shop</title>{% endblock %}

{% block content %}
<div class="about-section">
  <h1>O nás</h1>
  <p>Seznamte se s naším týmem!</p>
</div>

<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jméno Příjmení</h2>
        <p class="title">Pozice</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>jmeno@example.com</p>
        <button class="button">Kontakt</button>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jméno Příjmení</h2>
        <p class="title">Pozice</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>jmeno@example.com</p>
        <button class="button">Kontakt</button>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jméno Příjmení</h2>
        <p class="title">Pozice</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>jmeno@example.com</p>
        <button class="button">Kontakt</button>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jméno Příjmení</h2>
        <p class="title">Pozice</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>jmeno@example.com</p>
        <button class="button">Kontakt</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
