{% extends "index.html" %}

{% block title %}
    <title>Nálezy</title>
{% endblock %}

{% block content %}
    <h2>Vložte informace o nálezu</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <!-- Pole pro Název -->
        <label for="nazev">Název:</label>
        <input type="text" id="nazev" name="nazev" placeholder="Zadejte název nálezu" required>

        <!-- Pole pro Popis -->
        <label for="popis">Popis:</label>
        <textarea id="popis" name="popis" rows="4" placeholder="Zadejte popis nálezu" required></textarea>

        <!-- Pole pro Výběr souboru -->
        <label for="file">Výběr souboru:</label>
        <input type="file" id="file" name="file" multiple required>

        <!-- Výběr mezi Artefaktem a Minci -->
        <label for="typ">Typ:</label>
        <select id="typ" name="typ" required>
            <option value="artefakt">Artefakt</option>
            <option value="mince">Mince</option>
        </select>

        <!-- Tlačítko pro nahrání -->
        <input type="submit" value="Nahrát">
    </form>
{% endblock %}
