{% extends "index.html" %}

{% block title %}<title>Registrace</title>{% endblock %}

{% block content %}
<h1>Registrace</h1>
    <form action="{{url_for('auth.registrace')}}" method="POST">
        <label for="username">Jméno:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Heslo:</label>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Registrace">
    </form>
{% endblock %}
