
.HLpanel {
    background-color:grey;
    overflow: hidden;
  }
  
  .HLpanel a {
    float: left;
    color: #f3f3f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .HLpanel a:hover {
    background-color: rgb(255, 255, 255);
    color:black;
  }

  .Vyhledat {
margin-left: 1727px;
}

